// icon-shape 

.icon-xs {
  height: $icon-size-xs;
  width: $icon-size-xs;
  line-height: $icon-size-xs;
}

.icon-sm {
  height: $icon-size-sm;
  width: $icon-size-sm;
  line-height: $icon-size-sm;
}

.icon-md {
  height: $icon-size-md;
  width: $icon-size-md;
  line-height: $icon-size-md;
}

.icon-lg {
  height: $icon-size-lg;
  width: $icon-size-lg;
  line-height: $icon-size-lg;
}

.icon-xl {
  height: $icon-size-xl;
  width: $icon-size-xl;
  line-height: $icon-size-xl;
}

.icon-shape {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  vertical-align: middle;
}
