// filter section 

.listinghalfmap-body {
  .filter-section {
    background-color: $gray-100;
    border-radius: .25rem;
    padding: 10px 20px;
    margin-bottom: 20px;
    position: fixed;
    top: 58px;
    z-index: 102;
    width: 100%;
  }
  .listinghalfmap-content {
    position: relative;
    top: 130px;
  }
 
}

// filter section

.filter-section {
  .dropdown-toggle {
    &::after {
      display: none;
    }
  }
  .dropdown-menu {
    top: 17px !important;
    padding: 0px !important;
    font-size: 14px;
    min-width: 16rem;

    .with-arrow {
      position: absolute;
      height: 10px;
      overflow: hidden;
      width: 40px;
      top: -10px;

      > span {
        transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        background-color: $white;
        width: 25px;
        height: 25px;
        top: 3px;
        left: 15px;
        position: absolute;
        content: "";
        -moz-border-radius: 6px 0 0;
        border-radius: 6px 0 0;
        border: 1px solid #dedee2;
      }
    }
  }
  .dropdown-menu-body {
    padding: 16px;

    .menu-title {
      font-size: 16px;
      line-height: 18px;
      margin-bottom: 15px;
    }
  }
  .dropdown-menu-footer {
    border-top: 1px solid #eaeaf2;
    padding: 16px;
  }
}

// filter section title

.filter-section-title {
  color: $black;
  font-weight: 700;
  margin-right: 16px;

  .filter-icon {
    color: $primary;
    margin-right: 8px;
  }
}

// price menu body

.price-menu-body {
  padding: 68px 30px 40px 30px !important;
  width: 300px;
}

// term menu body
.term-menu-body {
  .select2.select2-container {
    width: 100% !important;
  }
}

// size menu footer

.size-menu-footer {
  border-top: 1px solid #eaeaf2;
  padding: 20px 30px 5px 30px;
}

// location menu body

.location-menu-body {
  .select2.select2-container {
    width: 100% !important;
  }
}
// amenities menu

 .amenities-menu.dropdown-menu {
    min-width: 40rem !important;
  }


// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
  .listinghalfmap-body .filter-section {
    position: relative;
    top: 75px;

    .btn-group,
    .btn-group-vertical {
      position: relative;
      display: grid;
      vertical-align: middle;
      border: 1px solid $gray-300;
    }
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767.98px) {
  .listinghalfmap-body .filter-section {
    position: relative;
    top: 75px;

    .btn-group,
    .btn-group-vertical {
      position: relative;
      display: grid;
      vertical-align: middle;
    }
  }
}


